<fieldset>
  <legend></legend>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :email, {:placeholder => 'email' } %>
    <%= f.text_field :password,{:placeholder => 'Password', :type=>'password'} %>
    <%= f.submit 'I am already a volunteer!',class: 'btn btn-success' %>
    <div style="margin-bottom:2px"></div>
    <div class="checkbox"></div>
    <%= f.check_box :keep_me_logged_in  %>
    keep me logged in 
  <% end %>
  <%= link_to "Forget your password?", input_your_email_path, class: 'btn btn-warning btn-xs' %>
</fieldset>
