/%h1 Application Data Management System
=render 'layouts/adminheader'
%h3 Welcome Administrator!
%flash
 =flash[:danger]
 =flash[:notice]
%fieldset
.jumbotron
 =form_for managemore_path, :method => :get do |f|
  =f.label 'Firstname', :style => "width:100px"
  =f.text_field :firstname
  %div{:style => "margin-bottom:10px"}
  =f.label 'Lastname', :style => "width:100px"
  =f.text_field :lastname
  %div{:style => "margin-bottom:10px"}
  =f.label 'Email', :style => "width:100px" 
  =f.text_field :email
  %div{:style => "margin-bottom:10px"}
  /%br
  =f.submit 'select',class: 'btn btn-success'

%table#accounts
 %thead
  %tr
   %th Firstname
   %th Lastname
   %th DOB
   %th Volunteering Status
   %th Interested Area
   %th Time Beginning
   %th Time End
   %th Applicaiton Date

 %tbody
  - @accounts.each do |account|
   %tr
    %td= account.firstname
    %td= account.lastname
    %td= account.DOB
    %td= account.application_form.interested_areas
    %td= account.application_form.available_time_begin
    %td= account.application_form.available_time_end
    %td= account.application_form.created_at
    %td= link_to "Finish", :controller => "admins", :action =>"finish", :id => account.id

=link_to 'Manage the application',admin_path(session[:id]),class: 'btn btn-success'

