%h1 Online volunteering Management System
%br
%h3 Welcome Administrator !  
 
%fieldset
 =form_for admin_path, :method => :get do 
  Age	
  %br
  =text_field_tag :agemin,nil,placeholder:'older than'
  =text_field_tag :agemax,nil,placeholder:'younger than'
  %div{:style => "margin-bottom:10px"}
  Firstname
  %br
  =text_field_tag :firstname,nil 
  %div{:style => "margin-bottom:10px"}
  Lastname
  %br
  =text_field_tag :lastname,nil 
  %div{:style => "margin-bottom:10px"}
  Email
  %br
  =text_field_tag :email,nil 
  %div{:style => "margin-bottom:10px"}
  =submit_tag 'select',class: 'btn btn-success'
%br
%br
%table#accounts
 %thead
  %tr
   %th Firstname
   %th Middlename
   %th Maidenname
   %th Lastname
   %th Gender
   %th Date of Birth
   %th Email
   %th Cellphone
   %th Homephone
   %th Mailing Address
   %th Your decision
 %tbody
  - @accounts.each do |account|
   %tr
    %td= account.firstname
    %td= account.middlename
    %td= account.maidenname 
    %td= account.lastname
    %td= account.gender
    %td= account.DOB 
    %td= account.email
    %td= account.cellphone
    %td= account.homephone
    %td= account.country
    %td= account.state
    %td= account.city
    %td= account.street
    %td= account.zip
    %td= link_to "Approve", :controller => "admins", :action =>"approve", :id => account.id
    %td= link_to 'reject',  :controller => "admins", :action =>"reject", :id => account.id
%br 
= link_to 'Manage the qualified volunteer',managemore_path,class: 'btn btn-success'
