=render 'layouts/adminheader'
%h3 Welcome Administrator! 
 
%fieldset
.jumbotron
 =form_for admin_path, :method => :get do 
  Age	
  %br
  =text_field_tag :agemin,nil,placeholder:'Older Than'
  =text_field_tag :agemax,nil,placeholder:'Younger Than'
  %div{:style => "margin-bottom:10px"}
  Firstname
  %br
  =text_field_tag :firstname,nil 
  %div{:style => "margin-bottom:10px"}
  Lastname
  %br
  =text_field_tag :lastname,nil 
  %div{:style => "margin-bottom:10px"}
  Email
  %br
  =text_field_tag :email,nil 
  %div{:style => "margin-bottom:10px"}
  =submit_tag 'Select',class: 'btn btn-success'
%br
%br
  
= link_to 'Manage the qualified volunteer',managemore_path,class: 'btn btn-success'
%table#accounts
 %table.table.table-striped
  %thead
   %tr
    %th Firstname
    %th Middlename
    %th Maidenname
    %th Lastname
    %th Gender
    %th Date Of Birth
    %th Email
    %th Cellphone
    %th Homephone
    %th Street
    %th City
    %th State
    %th Country
    %th Zip Code
    %th Profile
    %th Compose email
    %th Approve 
    %th Reject
  %tbody
  - @accounts.each do |account|
   %tr
    %td= account.firstname
    %td= account.middlename
    %td= account.maidenname 
    %td= account.lastname
    %td= account.gender
    %td= account.DOB 
    %td= account.email
    %td= account.cellphone
    %td= account.homephone
    %td= account.street
    %td= account.city
    %td= account.state
    %td= account.country
    %td= account.zip 
    %td= link_to "profile", admincheckprofile_path(:id => account.id), :onclick=>"window.open(this.href, 'profile', 'height=800, width=800');return false;"
    &nbsp;
    %td= link_to "send email", send_gmail_path(:id => account.id), :onclick=>"window.open(this.href, 'send email', 'height=800, width=800');return false;"
    &nbsp;
    %td= link_to "Approve", :controller => "admins", :action =>"approve", :id => account.id
    &nbsp;
    %td= link_to 'Reject',  :controller => "admins", :action =>"reject", :id => account.id

