<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= render 'comment' %>

<h4>Add a comment:</h4>
<%= render 'comments/form'  %>

 
<%= link_to 'Edit', edit_account_article_path(session[:account_id], @article) %> |
<%= link_to 'Back', account_articles_path %>