%header.navbar.navbar-fixed-top
 %header.right  
  = form_for(:session, url: login_path, html: {class: 'form-inline'}) do |f|
   = f.text_field :email, {:placeholder => 'Email' } 
   = f.text_field :password,{:placeholder => 'Password',:type=>'password'} 
   = f.submit 'Sign In',class: 'btn btn-success'
   .checkbox
   = f.check_box :keep_me_logged_in, :style => "margin-top: 0px"
   =f.label :keep_me_logged_in, "Keep Me Logged In", :style =>"color: white"  
  = link_to "Forget Your Password?", input_your_email_path, class: 'btn btn-warning btn-xs' 