<h1>Application Form</h1>   <!--this is just a test page -->

<h3><strong>Volunteer Acknowledgement</strong></h3>
<p>
    I understand the City operates the Bryan Animal Center (BAC), a facility that houses animals picked up by animal control personnel/citizens, assists with recovery of lost animals, and finds homes for animals that can be adopted. I understand the City allows volunteers to assist with the operation of the facility in an effort to provide more care, encourage adoption, and reduce rates of euthanasia. 

I am aware of the inherent risks associated with working with animals, and while the City takes every reasonable precaution above and beyond the requirements of state law, those risks can never be wholly eliminated. I voluntarily assume full responsibility for any risk of loss, property damage, or personal injury that may be sustained by me, as a result of being engaged in such activity. In consideration for being permitted to volunteer, I hereby release, indemnify, and hold harmless the City, and its officers, servants, agents, or employees from any and all liability, claims, demands, actions, and causes of action (including claims for court costs and attorney’s fees) whatsoever arising out of or related to any loss, damage or injury, including death, that may be sustained by me or to any property belonging to me, whether caused by the negligence of the City or otherwise, while volunteering at the BAC, or while in, on or upon the premises. 

I acknowledge that the statements made by me in this application are true and complete to the best of my knowledge, and I understand the contents of the application are subject to verification by the City of Bryan. I understand that any false information, omissions of facts or misrepresentations may disqualify me from volunteer work with the City of Bryan or immediate release from volunteer work. I understand that a criminal history check will be administered as well as verification of any information provided as part of the volunteer process, such as reference checks, driving record checks etc. 

In the event that I am placed as a volunteer with the City of Bryan, I understand that I shall be required to comply with all of the City’s rules, policies and regulations. I agree to abide by the standard operating procedures of the BAC, the instructions given by staff of the BAC, and any instructions from other City employees or officers. Specifically, I acknowledge that: 
</p><p>

1. Volunteers under the age of 14 must be accompanied by a parent/guardian at all times. </p><p>

2. Only adult volunteers, or minors over the age of 14 and accompanied by a parent, may physically interact with animals. </p><p>

3. When at the BAC, volunteers must wear ankle length pants and closed toed shoes. </p><p>

4. Outside pets are not permitted. </p><p>

I understand that the City has the right to terminate my services as volunteer at any time, with or without notice and with or without cause. By signing below, I certify that I have read and agree with these statements.
</p>

<div id='@application'  style = "margin-top:10px">
    
    
    <%= form_for @account,url: submit_application_path do |f| %>
    <!--
        < if flash[:my_errors] %>
            <h2>Error:</h2>
            <ul>
              < flash[:my_errors].each do |m| %>
                <li>
                  <= m %>
                </li>
              < end %>
        < end %>
     -->

        <%= f.fields_for :application_form do |af| %>
            <p>
                <strong>What is your area of interest?</strong>
            </p>
        
            <p>
                <%= af.check_box :interested_areas, {multiple: true}, 'Walking dogs;', nil %>Walking dogs<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Cleaning kennels;', nil %>Cleaning kennels<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Yard maintenance;', nil %>Yard maintenance<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Fostering animals;', nil %>Fostering animals<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Descriptions of animals;', nil %>Descriptions of animals<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Bathing dogs Clerical/office work;', nil %>Bathing dogs Clerical/office work<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Dog training;', nil %>Dog training<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'GroomingEvent planning;', nil %>GroomingEvent planning<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Off-site adoption days;', nil %>Off-site adoption days<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Contacting rescues;', nil %>Contacting rescues<br />
                <%= af.check_box :interested_areas, {multiple: true}, 'Picture taking;', nil %>Picture taking<br />
                Other (please specify)<%= af.text_field :interested_areas, {multiple: true , :value => " ", :style => "height: 30px"} %><br />
            </p>

            <!--= af.label :interested_areas, 'Choose from above'%>
            <= af.text_field :interested_areas, :value => @account.application_form.interested_areas -->

            <br />
         

            <p>
                <strong>What is your available time?</strong>
            </p>
            <div class='col-sm-6'>
            <%= af.label :available_time_begin, 'From (Start Time)', :style => "width: 140px"%>

            <%= af.text_field :available_time_begin, :value => @account.application_form.available_time_begin,:size=>25,:placeholder=>"YYYY-MM-DD HH:MM",:id=>"datetimepicker" %>
            </div>
            <br />
            <br />
            <div class='col-sm-6'>
            <%= af.label :available_time_end, 'To (End Time)', :style => "width: 140px"%>
            <%= af.text_field :available_time_end, :value => @account.application_form.available_time_end,:size=>25,:placeholder=>"YYYY-MM-DD HH:MM",:id=>"datetimepicker2" %>
             </div>
            <br />
            <br />
        <% end %>
        
        <%= f.fields_for :criminal_application do |cf| %>
            <p>
                <strong>If you are a criminal, please fill the blanks below.</strong>
            </p> 
            <%= cf.label :mandatory_hours, 'Mandatory Hours', :style => "width: 140px"%>
            <%= cf.text_field :mandatory_hours, :value => @account.criminal_application.mandatory_hours %>
            <br />
            <br />
            <!--%= cf.label :mandatory_area, 'Mandatory Area'%>
             cf.text_field :mandatory_area, :value => @account.criminal_application.mandatory_area %>
            <br />
            <br /> 
            = cf.label :deadline, 'Deadline'%>
             cf.text_field :deadline, :value => @account.criminal_application.deadline %>
            <br />
            <br />-->
        <% end %>
        
        <%= f.fields_for :student_application do |sf| %>
            <p>
                <strong>If you are a student completing hours organization, please fill the blanks below.</strong>
            </p>
            <%= sf.label :student_program, 'What is the program that requires you to be volunteer', :style => "width: 400px"%>
            <%= sf.text_field :student_program, :value => @account.student_application.student_program, :size=>27 %>
            <br />
            <br />
            <!--%= sf.label :required_time, 'Required Time'%>
             sf.text_field :required_time, :value => @account.student_application.required_time >% 
            <br />
            <br />
            -->
            <%= sf.label :required_area, 'Required Area', :style => "width: 120px"%>
            <%= sf.text_field :required_area, :value => @account.student_application.required_area %>
            <br />
            <br />
            <%= sf.label :deadline, 'Deadline', :style => "width: 120px"%>
            <%= sf.text_field :deadline, :value => @account.student_application.deadline,:placeholder => "YYYY-MM-DD" %>
            <br />
        <% end %>
        
        <%= f.fields_for :minor_application do |mf| %>
            <p>
                <strong>If you are a minor(younger than 18 years), please fill in the blanks below.</strong>
            </p>
            <%= mf.label :parent_signature, 'Please ask your guardian to sign electronically here', :style => "width: 400px"%>
            <%= mf.text_field :parent_signature, :value => @account.minor_application.parent_signature, :size=>27%>
            <br />
            <br />
        <% end %>
        
        
        <strong>Your signature</strong><br />
        <%= f.fields_for :application_form do |af| %>
            <%= af.label :signature, 'Please sign here electronically to submit your application form'%>
            <%= af.text_field :signature, :value => @account.application_form.signature %>
            <br />
            <br />
        <% end %>
                    

    <strong>ATTENTION: once your application is submitted, you can not change it or submit again</strong><br />
    
    <%= f.submit 'Submit the Application',class: 'btn btn-success' %>
    <% end %>
</div>
    <br />
    <br />
    
    <%= link_to 'Back to profiles edit', profiles_path(:id => @account.id) %>
