<h1> Profile </h1>
<% if flash[:notice] %>
    <div class="notice"><strong><%= flash[:notice] %></strong></div>
<% end %>

<div id='@account'  style = "margin-top:10px">
    <div class='left column' style = "margin-bottom:10px">
        <img src="http://www.ollarate.com/images/original/missing.jpg" alt="HTML5 Icon" style="width:320px;height:330px;">   
        <!-- option, need discussion -->
        <p>photo</p>
    </div>
    <div class="right column"  style = "margin-bottom:10px">
      <p>
          <strong>Name</strong> 
          <%= @account.firstname%> <%= @account.lastname%>
      </p>
      <p>
          <strong>Date of Birth</strong> 
          <%= @account.DOB%>               <!-- why DOB is orange? -->
      </p>
      <p>
          <strong>Email</strong>
          <%= @account.email%>
      </p>
      <p>
          <strong>Home Phone</strong>
          <%= @account.homephone%>
      </p>
      <p>
          <strong>Cell phone</strong>
          <%= @account.cellphone%>
      </p>
      <p>
          <strong>Home Address</strong><br />
          Street<%= @account.street%><br />
          City<%= @account.city %><br />
          State<%= @account.state %><br />
          Zip<%= @account.zip %><br />
      </p>
    </div>
</div>
  <%= form_for @account do |f| %>
  <!-- **************************************************************************** -->
  <!-- add all form contents within this helper -->
  
  <!--%= f.label  :emergency_contact_name, 'Emergency Contact Name'%>
  <!--%= f.text_field 'emergency_contact_name'%>
  <!-- change form below into helper format: 
  f.label :field_name 'questions you need to ask'
  f.text_field :field_name
  radio dot has other f. method name
  -->
      <p>
       <b id = "checkboxlink">1.Are you a former worker of the city of Bryan?</b> <b>(If you are still working in Bryan, please check no)</b><br />    
        <%= f.radio_button :is_former_worker, "1", :checked => @account.is_former_worker, :onclick=>"FWclickYes()" %> Yes<br />
        <%= f.radio_button :is_former_worker, "0", :checked => !@account.is_former_worker,:onclick=>"FWclickNo()"%> No<br />
      </p> 
      <div class="hidden" id="FWcheckbox"> 
        <%= f.fields_for  :user_formerworker do |uf| %>
            <!-- input type="text" name="CurrentDep" -->
            <%=uf.label :date_of_employment, 'Date of Employment' %>
            <%= uf.text_field :date_of_employment, :value => @account.user_formerworker.date_of_employment %>
            <br />
            <%=uf.label :reason_for_leaving, 'Reasons for Leaving' %>
            <%=uf.text_field :reason_for_leaving, :value => @account.user_formerworker.reason_for_leaving %>
            <br />
            <%=uf.label :position_or_department, 'Position or Department' %>
            <%=uf.text_field :position_or_department, :value => @account.user_formerworker.position_or_department %>
        <% end %>    
      </div>
    <!--Date of Employment:
        <input type="text" name="DOE"  >
        <!--%=f.label :date_of_employment, 'Date of Employment'%>  -->
        <!--%= f.text_field :date_of_employment, :value => @user_formerworkers.date_of_employment %> 
    <br />
    Reasons of Leaving:
        <input type="text" name="ROL">
    <br />
    Position:
        <input type="text" name="FormerPOS"> -->
        
    
     <!--The council member's Name:
        <input type="text" name="CMname">
    <br>
    Relationship:
        <input type="text" name="RelationshiptoCM"  -->
    
    <p>
        <b>2.Are you a current worker of the city of Bryan?</b><br />
        <%= f.radio_button :is_current_worker, '1', :checked =>@account.is_current_worker, :onclick=>"CWclickYes()" %> Yes<br />
        <%= f.radio_button :is_current_worker, '0', :checked =>!@account.is_current_worker, :onclick=>"CWclickNo()" %> No<br />
    </p>
    <div class="hidden" id="CWcheckbox"> 
    <%= f.fields_for  :current_worker do |cf| %>
            <!-- input type="text" name="CurrentDep" -->
            <%=cf.label :department, 'Department'%>
            <%= cf.text_field :department, :value => @account.current_worker.department %>
            <br />
            <%=cf.label :name, 'Position'%>
            <%= cf.text_field :name, :value => @account.current_worker.name %>
            <br />
    <% end %>    
    </div>
    
    
    <p>
        <b>3.Are you a relative of any council members?</b><br />
        <%= f.radio_button :related_to_councilmember, '1', :checked => @account.related_to_councilmember, :onclick=>"RCclickYes()" %> Yes<br />
        <%= f.radio_button :related_to_councilmember, '0', :checked =>!@account.related_to_councilmember, :onclick=>"RCclickNo()" %> No<br />
    </p>
    <div class="hidden" id="RCcheckbox">  
     <%= f.fields_for  :related_councilmember do |rf| %>
            <!-- input type="text" name="CurrentDep" -->
            <%=rf.label :name, 'The council member\'s name' %>
            <%= rf.text_field :name, :value => @account.related_councilmember.name %>
            <br />
            <%=rf.label :relationship, 'Relationship' %>
            <%=rf.text_field :relationship, :value => @account.related_councilmember.relationship %>
            <br />
     <% end %>    
    </div>
    
    
    
    <p>
        <b>4.Do you come here to do community service because of criminal conviction?</b><br />
        <%= f.radio_button :has_convictions, '1', :checked =>@account.has_convictions, :onclick=>"FCclickYes()" %> Yes<br />
        <%= f.radio_button :has_convictions, '0', :checked =>!@account.has_convictions, :onclick=>"FCclickNo()"  %> No<br />
    </p>  
    <div class="hidden" id="FCcheckbox"> 
    <%= f.fields_for  :former_criminal do |ff| %>
            <!-- input type="text" name="CurrentDep" -->
            <%=ff.label :date_of_conviction, 'Date of Conviction'%>
            <%= ff.text_field :date_of_conviction, :value => @account.former_criminal.date_of_conviction %>
            <br />
            <%=ff.label :nature_of_offense, 'Nature of Offense'%>
            <%= ff.text_field :nature_of_offense, :value => @account.former_criminal.nature_of_offense %>
            <br />
            <%= ff.label :name_of_court, 'Name of Court' %>
            <%= ff.text_field :name_of_court, :value => @account.former_criminal.name_of_court %>
            <br />
            <%=ff.label :disposition_of_case, 'Disposition of Case' %>
            <%=ff.text_field :disposition_of_case, :value => @account.former_criminal.disposition_of_case %>
            <br />
            <%=ff.label :former_crime, 'Please Write Your Former Crimes' %>
            <%=ff.text_field :former_crime, :value => @account.former_criminal.former_crime %>
            <br />
    <% end %>   
    </div>
    <!--Date of Conviction:
        <input type="text" name="DOCon">
    <br />
    Nature of Offense:
        <input type="text" name="NatureofOffense">
        <br />
    Name of Court:
        <input type="text" name="NOC">
        <br />

    Deposition of Case:
        <input type="text" name="DOCase">
        <br />                                      -->


    <p><strong>5.Emergency contact</strong></p>
    
        <%=f.label :emergency_contact_name, 'Emergency Contact Name'%>
        <%= f.text_field :emergency_contact_name, :value => @account.emergency_contact_name %>
    <br><br>
    
        <%=f.label :emergency_phone, 'Emergency Contact Phone'%>
        <%= f.text_field :emergency_phone, :value => @account.emergency_phone %>
        
    <br><br>
        <%=f.label :emergency_phone_alternate, 'Emergency Contact Alt Phone'%>
        <%= f.text_field :emergency_phone_alternate, :value => @account.emergency_phone_alternate %>
        
    <p>
        <b>6.Do you need any accommodations?</b><br />
        <%= f.radio_button :need_accommodations, '1', :checked =>@account.need_accommodations, :onclick=>"NAclickYes()" %> Yes<br />
        <%= f.radio_button :need_accommodations, '0', :checked =>!@account.need_accommodations, :onclick=>"NAclickNo()" %> No<br />
    </p>
    
     <div class="hidden" id="NAcheckbox"> 
    <%= f.fields_for  :accommodation do |a| %>
        <%=a.label :accommodation_name, 'Write the accomodation you need below' %>
        <%=a.text_field :accommodation_name, :value => @account.accommodation.accommodation_name %>
    <% end %>
  </div>
        
   <br /><br /> 
        
  <%= f.submit 'Save Changes'%>    <!-- this is used to save change --><b>(save your profiles, and you can edit and save it again)</b>
  
  <% end %>
  <br />
  <%= button_to "Save and Submit for Approve", action: "save_and_submit" %> <b>(attention: once you have submit your profile, you can't change it anymore)</b>
<br /><br />


<table>
    <tr>
        <tb>
            <%= link_to 'New Application', application_path(:id => @account.id) %>
        </tb>
    </tr>
   
</table>

<table>
    <tr>
        <tb>
            <%= link_to 'View your approved application', viewapplication_path(:id => @account.id) %>
        </tb>
    </tr>
   
</table>
